<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
<form action = '#' th:object="${chatForm}" method="POST"  th:action="@{/chat}">
    <label for="username">Username:</label>
    <input th:field="*{username}" id="username" name="username" type="text">
    <label for="messageText">Message Text:</label>
    <input th:field="*{messageText}" id="messageText" name="messageText" type="text">
    <label for="messageType">Message Type: </label>
    <select th:field="*{messageType}" id="messageType" name="messageType">
        <option th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit">
</form>
<div th:each="chatMessage : ${chatMessages}">
    <span th:text="${chatMessage.username}">Username</span>: <span th:text="${chatMessage.messageText}">Hello, world!</span>
</div>
</body>
</html>